.layout {
	max-width: 108rem;
	height: 100%;

	margin: 4rem auto;

	border-radius: 3px;
	background-color: $color-bg;
	box-shadow: $shadow-sm;

	overflow: hidden;

	@include media(768px) {
		margin: 0;
		max-width: 100%;
	}

	.navbar {
		overflow: hidden;
		background-color: #333;
		position: fixed;
		top: 0;
		width: 100%;
	  }
	  
	  .navbar a {
		float: left;
		display: block;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
	  }
	  
	  .navbar a:hover {
		background: #ddd;
		color: black;
	  }
}
